src/xml/Schema/BaseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="ColorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9A-Fa-f]{6}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="FontSize" type="xs:string" use="optional" />
				<xs:attribute name="Color" type="ColorType" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="Line" type="TextType" />
	<xs:element name="InlineCode" type="TextType" />

	<xs:element name="Link" >
		<xs:complexType>
            <xs:simpleContent>
				<xs:extension base="xs:string">
                    <xs:attribute name="Uri" type="xs:string" use="required" />
                    <xs:attribute name="FontSize" type="xs:string" use="optional" />
                    <xs:attribute name="Color" type="ColorType" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="Ref" >
		<xs:complexType>
            <xs:attribute name="Uri" type="xs:string" use="required" />
			<xs:attribute name="FontSize" type="xs:string" use="optional" />
			<xs:attribute name="Color" type="ColorType" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Path" >
		<xs:complexType>
            <xs:attribute name="Value" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Run" type="TextType" />

	<xs:complexType name="TextBlockType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded" >
			<xs:element ref="InlineCode" />
			<xs:element ref="Line" />
			<xs:element ref="Link" />
			<xs:element ref="Ref" />
			<xs:element ref="Run" />
		</xs:choice>

		<xs:attribute name="FontSize" type="xs:string" use="optional" />
		<xs:attribute name="Color" type="ColorType" use="optional" />
	</xs:complexType>

	<xs:element name="TextBlock" type="TextBlockType" />

	<xs:complexType name="PathCollection">
		<xs:sequence>
			<xs:element ref="Path" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cpp" />
			<xs:enumeration value="Normal" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Page">
		
	</xs:element>

	<xs:element name="Header">
		<xs:complexType>
            <xs:complexContent>
				<xs:extension base="TextBlockType">
                    <xs:attribute name="Level" use="required" >
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
